@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .bakbak-one-regular {
   
} */

:root {
    --hero-color: #1f4c34;
    --secondary-color: #f9f7eb;
    --alt-color1: #302a002a;
    --alt-color2: #b3b09c2a;

    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    height: 50px;
    width: 100%;
    background-color: var(--hero-color);
    display: flex;
    place-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    a {
        color: var(--secondary-color);
        text-decoration: none;
        display: block;
        height: 100%;
        margin-left: 1rem;
    }

    h1 {
        line-height: 4rem;
        transition: all 0.2s ease-in-out;
    }

    h1:hover {
        letter-spacing: 2px;
        scale: 1.1;
    }
}

main {
    background-color: var(--secondary-color);
    color: var(--hero-color);
    width: 100%;

    display: flex;
    gap: 74px;
    flex-direction: column;
    place-items: center;
    place-content: center;
    position: relative;
    z-index: 0;
}

#hero {
    z-index: -1;
    background-color: var(--hero-color);
    position: sticky;
    top: 0;
    left: 0;
    color: var(--secondary-color);
    width: 100%;
    min-height: 95vh;
    min-height: 95dvh;
    height: 1080px;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    place-content: center;
    place-items: center;

    #introduction {
        width: 100%;
        height: 50%;
        place-content: center;
        place-items: center;

        h1 {
            text-align: center;
            font-size: 5rem;
            letter-spacing: -2px;
        }

        h2 {
            text-align: center;
            font-size: 2rem;
            opacity: 0.7;
        }
    }

    #portrait {
        height: 70vh;
        width: 100%;
        display: flex;
        justify-content: center;

        img {
            height: 100%;
            display: block;
            height: 100%;
            /* width: 100%; */
            object-fit: contain;
            aspect-ratio: 1 / 1;
            object-position: center top;
            overflow: visible;
        }
    }
}

#wrapper {
    background-color: var(--secondary-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 74px;
    place-content: center;
    place-items: center;
    padding: 74px 0;
    position: relative;
    z-index: 1;

    .header-container {
        border-bottom: var(--hero-color) solid 1px;
        margin-bottom: 1rem;

        h3 {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    .section-content {
        p {
            line-height: 1.5;
            letter-spacing: normal;
        }
    }
}

/*  old about settings: */
h3 {
    margin-bottom: 0.5rem;
}

p {
    text-align: justify;
}
/* ------------- */

#about,
#experience,
#featured-projects,
#education,
#skills,
#resources,
#achievements {
    max-width: 500px;
    width: 100%;
}

.entry {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    margin-bottom: 1rem;
    /* align-content: center; */

    .date-id {
        background-color: var(--hero-color);
        background-color: var(--alt-color1);
        font-weight: bold;
        padding: 0.25rem;
        margin-bottom: 0.5rem;
        /* place-items: center; */
        /* place-content: center; */
        /* font-weight: bold; */
        /* text-align: right; */
    }

    .title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .description {
        font-style: italic;
    }

    .details {
        list-style: none;
        text-align: justify;
        white-space: pre-line;

        li::before {
            content: "• ";
        }

        li {
            line-height: 1.5;
        }
    }

    details {
        cursor: pointer;
        padding: 1rem;

        .drop-operation {
            font-size: 1.25rem;
        }
    }

    details .drop-operation:before {
        content: "►";
    }

    details[open] .drop-operation:before {
        content: "▼";
    }

    details:hover {
        background-color: var(--alt-color2);
    }

    summary {
        cursor: pointer;
        list-style: none;
        display: flex;

        .drop-operation {
            fill: var(--hero-color);
            margin-left: auto;
            width: 7%;
        }
    }
}

.entry:last-child,
.proj-entry:last-child {
    margin-bottom: 0;
}

.proj-entry {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    margin-bottom: 1rem;
    /* align-content: center; */

    .proj-image {
        height: 150px;
        aspect-ratio: 1 / 1;
        position: relative;

        img {
            border-radius: 15px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top left;
        }

        .coming-soon {
            width: 100%;
            height: 100%;
            padding: 1rem;
            border-radius: 15px;
            border: 1px solid var(--hero-color);
            text-align: center;
            place-content: center;
        }

        .coming-soon::before {
            content: "COMING SOON";
        }
    }

    .proj-info {
        .proj-title {
            font-size: 1.5rem;

            font-weight: bold;
        }

        .proj-description {
            line-height: 1.5rem;
            margin-bottom: 1rem;
            font-weight: 300;
            font-size: 0.9rem;
        }

        .proj-link {
            text-decoration: none;
            border-radius: 5px;
            background-color: var(--alt-color1);
            color: var(--hero-color);
            font-size: 0.9rem;
            text-underline-offset: 0.5rem;
            text-transform: uppercase;
            font-weight: 700;
            height: 35px;
            padding: 0.5rem;
            transition: all 0.3s ease-in-out;
        }

        .proj-link:hover {
            background-color: var(--hero-color);
            color: var(--secondary-color);
        }
    }
}

.resume-btn {
    font-size: 0.75rem;
    font-weight: bold;
    color: var(--secondary-color);
    background-color: var(--hero-color);
    padding: 0.75rem;
    border-radius: 10px;
    transition: all ease-in-out 0.25s;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: auto;
}

.resume-btn:hover {
    opacity: 0.85;
    scale: 1.05;
}

.skill-stack {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));

    .tech {
        place-content: center;
        place-items: center;
        fill: var(--hero-color);
    }
}

.badge-stack {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));

    .badge img {
        height: 90%;
        place-content: center;
        place-items: center;
    }
}

footer {
    height: 30vh;
    color: var(--secondary-color);
    background-color: var(--hero-color);
    place-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-items: center;
    font-size: 1.1rem;

    #design-by {
        font-size: 0.9rem;
        opacity: 0.7;
        color: var(--secondary-color);
        text-underline-offset: 5px;
        line-height: 2rem;
        margin-bottom: 1rem;
        display: block;
    }

    a:hover {
        font-weight: bold;
    }

    #socials {
        height: 45px;
        margin-top: 1rem;

        a {
            text-decoration: none;
            color: var(--secondary-color);
        }
    }

    .socials-btn {
        height: 100%;
        fill: var(--secondary-color);
        transition: scale 0.25s ease-in-out;
    }

    .socials-btn:hover {
        scale: 1.15;
        opacity: 0.85;
    }
}

@media screen and (max-width: 1024px) {
    #hero {
        /* min-height: 95vh; */
        /* min-height: 95dvh; */
        /* height: 1080px; */
        /* overflow: hidden; */

        /* display: flex;
    justify-content: space-between;
    flex-direction: column;
    place-content: center;
    place-items: center; */

        #introduction {
            place-content: center;
            place-items: center;

            h1 {
                text-align: center;
                font-size: 4rem;
                letter-spacing: -2px;
            }

            h2 {
                text-align: center;
                font-size: 1.5rem;
            }
        }

        #portrait {
            height: 60vh;

            img {
                height: 100%;
                display: block;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    #hero {
        height: 95vh;
        height: 95dvh;
        /* justify-content: space-around; */
        /* flex-direction: row; */
        /* place-content: center; */
        place-items: center;
        flex-direction: column-reverse;

        #introduction {
            /* height: 50%; */
            place-content: center;
            place-items: center;
            margin-top: -5rem;

            h1 {
                text-align: center;
                font-size: 2.75rem;
            }

            h2 {
                text-align: center;
                font-size: 1.3rem;
            }
        }

        #portrait {
            height: 250px;
            width: 250px;
            border-radius: 50%;
            border: 2px solid var(--alt-color2);
            aspect-ratio: 1 / 1;
            overflow: hidden;
            margin-bottom: 1rem;

            img {
                object-fit: cover;
                object-position: top center;
                height: 400px;
                width: 400px;
            }
        }
    }

    #wrapper {
        overflow-x: hidden;

        .header-container {
            border-bottom: var(--hero-color) solid 1px;
            /* margin-bottom: 1rem; */

            h3 {
                /* font-size: 1.5rem; */
                font-weight: bold;
            }
        }

        .entry {
            .title {
                text-align: left;
                font-size: 1.3rem;
            }
        }

        .badge-stack {
            /* gap: 1rem; */
            grid-template-columns: auto;
            place-content: center;

            .badge img {
                height: 90%;
                place-content: center;
                place-items: center;
            }
        }
    }

    #about,
    #experience,
    #featured-projects,
    #education,
    #skills,
    #resources,
    #achievements {
        max-width: 300px;
        width: 100%;
    }
}
